<div class="aava-girls__container">
  <h1 class="aava-girls__title">Our Girl Gang</h1>
  <div class="aava-girls__action">Click to see their collections</div>
  <div class="aava-girls__curly"><img src="{{ 'curly.jpg' | asset_url }}" /></div>
  <div class="Grid">
    <div class="aava-girls__girl Grid__Cell 1/2 1/4--tablet-and-up">
      <a class="aava-girl__photo" href="https://aavaswim.com/collections/amiyah">
      	<img data-src="{{ 'aava-girl-amiyah.jpg' | asset_url }}" alt="Amiyah" class="Image--lazyLoad" />
      </a>
      <div class="aava-girl__name">Amiyah</div>
      <div class="aava-girl__collection"><a href="https://aavaswim.com/collections/amiyah">@AMIYAHMCGRAW</a></div>
      <div class="aava-girl__params">
        <div>
          <strong>Height</strong> &#124; 5'9"
        </div>
        <div>
          <strong>Cup</strong> &#124; C
        </div>
        <div>
          <strong>Bust</strong> &#124; 30”
        </div>
        <div>
          <strong>Waist</strong> &#124; 23"
        </div>
        <div>
          <strong>Hip</strong> &#124; 33"
        </div>
      </div>
    </div>
    <div class="aava-girls__girl Grid__Cell 1/2 1/4--tablet-and-up">
      <a class="aava-girl__photo" href="https://aavaswim.com/collections/hannah">
      	<img data-src="{{ 'aava-girl-hannah.jpg' | asset_url }}" alt="Hannah" class="Image--lazyLoad" />
      </a>
      <div class="aava-girl__name">Hannah</div>
      <div class="aava-girl__collection"><a href="https://aavaswim.com/collections/hannah">@HANNAHKIRKELIE</a></div>
      <div class="aava-girl__params">
        <div>
          <strong>Height</strong> &#124; 5'9"
        </div>
        <div>
          <strong>Cup</strong> &#124; B
        </div>
        <div>
          <strong>Bust</strong> &#124; 33”
        </div>
        <div>
          <strong>Waist</strong> &#124; 24"
        </div>
        <div>
          <strong>Hip</strong> &#124; 34"
        </div>
      </div>
    </div>
    <div class="aava-girls__girl Grid__Cell 1/2 1/4--tablet-and-up">
      <a class="aava-girl__photo" href="https://aavaswim.com/collections/nico-mary">
      	<img data-src="{{ 'aava-girl-nico-mary.jpg' | asset_url }}" alt="Nico Mary" class="Image--lazyLoad" />
      </a>
      <div class="aava-girl__name">Nico Mary</div>
      <div class="aava-girl__collection"><a href="https://aavaswim.com/collections/nico-mary">@NICO.POTUR</a></div>
      <div class="aava-girl__params">
        <div>
          <strong>Height</strong> &#124; 5'10"
        </div>
        <div>
          <strong>Cup</strong> &#124; B
        </div>
        <div>
          <strong>Bust</strong> &#124; 34”
        </div>
        <div>
          <strong>Waist</strong> &#124; 24"
        </div>
        <div>
          <strong>Hip</strong> &#124; 35"
        </div>
      </div>
    </div>
    <div class="aava-girls__girl Grid__Cell 1/2 1/4--tablet-and-up">
      <a class="aava-girl__photo" href="https://aavaswim.com/collections/izzy">
      	<img data-src="{{ 'aava-girl-izzy.jpg' | asset_url }}" alt="Izzy" class="Image--lazyLoad" />
      </a>
      <div class="aava-girl__name">Izzy</div>
      <div class="aava-girl__collection"><a href="https://aavaswim.com/collections/izzy">@IZZYXALAN</a></div>
      <div class="aava-girl__params">
        <div>
          <strong>Height</strong> &#124; 5'9"
        </div>
        <div>
          <strong>Cup</strong> &#124; A
        </div>
        <div>
          <strong>Bust</strong> &#124; 32”
        </div>
        <div>
          <strong>Waist</strong> &#124; 25"
        </div>
        <div>
          <strong>Hip</strong> &#124; 35"
        </div>
      </div>
    </div>
  </div>
</div>