<div class="aava-hero">
  <div class="aava-hero-carousel" id="aava-hero-carousel">
    <div class="aava-hero-carousel__cell">
      <a 
         href="https://aavaswim.eu/products/copy-of-imogen-crossover-one-piece-1"
         style="background-image: url('https://cdn.shopify.com/s/files/1/0114/4510/8802/files/slider_1_wide.jpg?v=1597071791');"
      ></a>
      <a
         href="https://aavaswim.com/products/crop-top-bikini-3"
         style="background-image: url('https://cdn.shopify.com/s/files/1/0114/4510/8802/files/slider1.jpg?v=1597840658')"
      ></a>
    </div>
    <div class="aava-hero-carousel__cell">
      <a 
         href="https://aavaswim.eu/products/crossover-one-piece-6"
         style="background-image: url('https://cdn.shopify.com/s/files/1/0114/4510/8802/files/slider_2_wide.jpg?v=1597071791')"
      ></a>
      <a
         href="https://aavaswim.eu/products/crossover-one-piece-5"
         style="background-image: url('https://cdn.shopify.com/s/files/1/0114/4510/8802/files/slider3.jpg?v=1596627680')"
      ></a>
    </div>
    <div class="aava-hero-carousel__cell">
      <a
         href="https://aavaswim.com/products/retro-one-piece-estelle-narine"
         style="background-image: url('https://cdn.shopify.com/s/files/1/0114/4510/8802/files/slider_3_wide.jpg?v=1597075102')"
      ></a>
      <a 
         href="https://aavaswim.eu/products/retro-one-piece-estelle-narine?variant=35331433791645#Image18239308857501"
         style="background-image: url('https://cdn.shopify.com/s/files/1/0114/4510/8802/files/slider2.jpg?v=1596627680')"
      ></a>
    </div>
  </div>
  <!--a class="aava-hero__bg" href="#"></a-->
  <div class="aava-hero__heading">
    <div class="aava-hero__title"><span>ocean's</span> favorite</div>

    <div class="aava-hero__subtitle">This would benow for romans,hee is an update</div>


  </div>
  <div class="aava-hero__links">
    <a href="https://aavaswim.com/pages/our-mission"><span>our mission</span></a>
    <a href="https://aavaswim.com/collections/shop-all"><span>shop now</span></a>
  </div>
</div>

<div class="aava-home-features__heading">
  <div class="aava-home-features__heading-title">ocean's favorite</div>
  <div class="aava-home-features__heading-subtitle">FINE SWIMWEAR FROM RECYCLED OCEAN PLASTIC deploy hq</div>
</div>

<div class="aava-home-features__separator"></div>

<div class="aava-home-features Grid">
  <div class="Grid__Cell 1/2 1/4--tablet-and-up aava-home-features__item">
    <img data-src="{{ 'earth-friendly.jpg' | asset_url }}" alt="earth friendly" class="Image--lazyLoad" />
    <div class="aava-home-features__title"><span>earth</span> friendly</div>
    <div class="aava-home-features__desc">Eco-conscious decisions from product to packaging</div>
  </div>
  <div class="Grid__Cell 1/2 1/4--tablet-and-up aava-home-features__item">
    <img data-src="{{ 'ethical-production.jpg' | asset_url }}" alt="ethical production" class="Image--lazyLoad" />
    <div class="aava-home-features__title"><span>ethical</span> production</div>
    <div class="aava-home-features__desc">Equal rights & fair treatment for all</div>
  </div>
  <div class="Grid__Cell 1/2 1/4--tablet-and-up aava-home-features__item">
    <img data-src="{{ 'co-created-designs.jpg' | asset_url }}" alt="co-created designs" class="Image--lazyLoad" />
    <div class="aava-home-features__title"><span>co-created</span> designs</div>
    <div class="aava-home-features__desc">Minimize waste & produce only according to demand</div>
  </div>
  <div class="Grid__Cell 1/2 1/4--tablet-and-up aava-home-features__item">
    <img data-src="{{ 'customer-love.jpg' | asset_url }}" alt="customer love" class="Image--lazyLoad" />
    <div class="aava-home-features__title"><span>customer</span> love</div>
    <div class="aava-home-features__desc">From fit to feedback we're always here for a good chat</div>
  </div>
</div>

{% comment %}OLD VIDEO IDs  391972438|391973576{% endcomment %}
<div class="aava-home__video">
  <iframe class="aava-home__video--large Image--lazyLoad" data-src="https://player.vimeo.com/video/423141499?api=1&amp;background=1&amp;autoplay=1&amp;loop=1" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
  <iframe class="aava-home__video--small Image--lazyLoad" data-src="https://player.vimeo.com/video/423141527?background=1&amp;autopause=0&amp;playsinline=1" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
</div>


<div class="aava-home__featured aava-home__container">
  <h2 class="aava-home__section-title">your favorite styles</h2>
  {% section 'featured-collections' %}
</div>


<div class="aava-home__container aava-home__testimonials-wrapper">
  <h2 class="aava-home__section-title">what our customers say about us</h2>
  
  <div class="aava-home__testimonials">
    <div class="aava-home__testimonial">
      <div class="aava-home-quote">
        <img data-src="{{ 'quotes.jpg' | asset_url }}" alt="" class="Image--lazyLoad" />
        <div class="aava-home-quote__text">
          "Truth be told I've struggled to accept my postpartum body. But my new swimsuit made me feel so beautiful, sexy and comfortable for the first time in ages! I don't even wear my cover up anymore!"
        </div>
        <div class="aava-home-quote__author">Jenny H.</div>
      </div>
    </div>
    <div class="aava-home__testimonial">
      <div class="aava-home-quote">
        <img data-src="{{ 'quotes.jpg' | asset_url }}" alt="" class="Image--lazyLoad" />
        <div class="aava-home-quote__text">
          "I love that my new swimsuit is so stylish and ALSO made from recycled materials. It feels really good to help reduce ocean waste. Love this company."
        </div>
        <div class="aava-home-quote__author">Danielle J.</div>
      </div>
    </div>
    <div class="aava-home__testimonial">
      <div class="aava-home-quote">
        <img data-src="{{ 'quotes.jpg' | asset_url }}" alt="" class="Image--lazyLoad" />
        <div class="aava-home-quote__text">
          "Their customer service team are so responsive and kind. They go above and beyond to provide a great service! I love my swimsuit and aava swim and there's no doubt I'll be returning shortly."
        </div>
        <div class="aava-home-quote__author">Izzy M.</div>
      </div>
    </div>
  </div>
</div>

<div class="aava-home__insta">
  <div class="aava-home__insta-heading">
    <h2 class="aava-home__section-title aava-home__insta-title">join the #aavasquad</h2>
    <div class="aava-home__insta-subtext">Rock your swimsuit on Instagram and use the hashtag #aavasquad to join our tribe!</div>
  </div>
  <div class="aava-home__insta-gallery">
    <script src="https://showcase.abovemarket.com/embed/gallery/15962" data-gallery-id="15962" data-force-limit="7" async=""></script>
  </div>
  <div class="aava-home__insta-gallery--mobile">
    <script src="https://showcase.abovemarket.com/embed/gallery/15962" data-gallery-id="15962" data-force-limit="9" async=""></script>
  </div>
</div>

<h2 class="aava-home__section-title aava-home__help-title">need help? we're here for you!</h2>
<div class="Grid Grid--center aava-home__help">
  <div class="Grid__Cell 1/2 1/3--tablet-and-up 1/4--lap-and-up aava-home__help-tile">
    <img data-src="{{ 'miranda.jpg' | asset_url }}" alt="" class="Image--lazyLoad" />
    <img data-src="{{ 'miranda_pool.jpg' | asset_url }}" alt="" class="Image--lazyLoad" />
  </div>
  <div class="Grid__Cell 1/2 1/3--tablet-and-up 1/4--lap-and-up aava-home__help-tile">
    <img data-src="{{ 'nevena.jpg' | asset_url }}" alt="" class="Image--lazyLoad" />
    <img data-src="{{ 'nevena_pool.jpg' | asset_url }}" alt="" class="Image--lazyLoad" />
  </div>
</div>

<div class="aava-home__help-btn">
  <a href="/pages/contact-us" class="aava-btn">GET IN TOUCH</a>
</div>
